section.footer{
    height: 100px;
    padding-top: 2rem;
    text-align: center;
}

.footer__rodape{
    background: linear-gradient(-45deg, var(--form-hover3) , var(--form-hover2));
    color: var(--cor-de-fonte-footer);
    text-decoration: none;
}


