:root{
   --cor-de-fonte: #464646;
   --cor-de-fundo: #d0f5f033;
   --cor-de-link: #000;
   --cor-da-navbar: #ffffff;
   --branco: #f5f5f5;
   --cor-btn1:#084ed1;
   --cor-btn2:#7cc8dfc5;
   --hover: #130c02;
   --btn-hover1:#a8ccf5;
   --btn-hover2:#146ef5;
   --footer: #dbdee6;
   --form-hover1:#c0e4e9;
   --form-hover2:#e0eff0;
   --form-hover3:#178fbede;
   --font: 'Raleway',sans-serif;
}

body {
    background-color: var(--cor-de-fundo) ;
    color: var(--cor-de-fonte);
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

ol, ul,li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

img {
    border-radius: 1rem;
}


