:root{
   --cor-de-fonte: #464646;
   --cor-de-foto-fundo: #800080;
   --cor-de-fundo: #f7b9f760;
   --cor-de-link: #000;
   --cor-da-navbar: #ffffff;
   --branco: #f5f5f5;
   --cor-btn1:#840c9c91;
   --cor-btn2:#cf7cdf4f;
   --hover: #130c02;
   --btn-hover1:#751c91;
   --btn-hover2:#b271bb;
   --footer: #dbdee6;
   --form-hover1:#dcc0e991;
   --form-hover2:#dfd1f1;
   --form-hover3:#7d27eead;
   --font: 'Raleway',sans-serif;
}

body {
    background-color: var(--cor-de-fundo) ;
    color: var(--cor-de-fonte);
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

ol, ul,li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

img {
    border-radius: 0.5rem;
}


