:root{
   --cor-de-fonte: #ece7e7;
   --cor-de-fonte-footer: #141414;
   --cor-de-fonte-about: #000000;
   --cor-de-foto-fundo: #800080;
   --cor-de-fundo: #5e045ef5;
   --cor-de-link: #131212;
   --cor-da-navbar: #ffffff;
   --branco: #f5f5f5;
   --cor-btn1:#840c9c91;
   --cor-btn2:#e4c1eb4f;
   --hover: #130c02;
   --btn-hover1:#751c91;
   --btn-hover2:#b271bb;
   --footer: #dbdee6;
   --form-hover1:#ffffffea;
   --form-hover2:#d4c7e4;
   --form-hover3:#31105c34;
   --font: 'Raleway',sans-serif;
}

body {
    background-color: var(--cor-de-fundo) ;
    color: var(--cor-de-fonte);
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

ol, ul,li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

img {
    border-radius: 0.5rem;
}


